.mainrsnewpass {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4; /* Màu nền của trang */
  }
  
  .formrsnewpassword {
    width: 300px;
    padding: 20px;
    background-color: #fff; /* Màu nền của form */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .formrsnewpassword h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .formrsnewpassword div {
    margin-bottom: 15px;
  }
  
  .formrsnewpassword input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ddd; 
    border-radius: 4px;
    margin-bottom: 20px;
  }
  
  .formrsnewpassword button {
    width: 100%;
  }
  
  .formrsnewpassword button:disabled {
    background-color: #b0c4de; /* Màu nền của button khi bị disable */
  }
  
  .formrsnewpassword div > a {
    display: block;
    text-align: center;
    margin-top: 10px;
    color: #1890ff; /* Màu chữ của các liên kết */
  }
  
  .formrsnewpassword div > a:hover {
    text-decoration: underline;
  }
  .errm{
    color: red;
  }
  .h2{
    margin-left: 70px;
  }

  .linh {
    display: flex;
    text-decoration: none;
    color: #1890ff; /* Màu của các liên kết */
  }

 
  .modalrsnewpass {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 400px; /* Độ rộng tối đa của modal */
    width: 100%;
    box-sizing: border-box;
  }
  

  .modalrsnewpass .modal-header {
    display: flex;
    justify-content: center;
    background-color: #f0f0f0;
    /* Màu nền chân modal */
  }
  
  .modalrsnewpass .modal-footer {
    display: flex;
    justify-content: space-between;
    /* Màu nền chân modal */
  }
  
  /* Thêm các quy tắc CSS khác tùy thuộc vào thiết kế bạn mong muốn */
  /* Thêm các kiểu dáng cho container của modal */

  
  /* Thiết kế nội dung của modal */
  .modal-content {
    background-color: #fff;
    max-width: 400px;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
  }
